
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-1 {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    margin: 0px auto;
    /* padding: 0px 60px; */
    max-width: 1300px;
  }
 


body{
    margin: 20px 0px 0px 0px;
    padding: 0px; 
   
}


  /* nav section  */


  nav{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 60px;
    padding: 0px;
  
  }


  div h3{
    font-size: 2rem;
    margin: 0px;
  }


  nav div img{
    width: 100%;
    height: 100%;
    margin-left: 0px;
    padding: 0px;
  }

.nd-1{
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.nd-2{
    display: flex;
    gap: 50px;

}

.nd-2 a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
}

.a1{
    color: #FEA301;
    border-bottom: 2px solid white;
}

.a1:hover{
    border-bottom: 2px solid red;
}



.a2{
    color: #01ACFD;
    border-bottom: 2px solid white;
}

.a2:hover{
    border-bottom: 2px solid red;
}


.a3{
    color: #05D4DF;
    border-bottom: 2px solid white;
}

.a3:hover{
    border-bottom: 2px solid red;
}


.a4{
    color: #5D58EF;
    border-bottom: 2px solid white;
}


.a4:hover{
    border-bottom: 2px solid red;
}



.nav-btn button{
    background-color: #FEA301;
    padding: 10px 45px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-weight: 550;
}


.nav-btn button:hover{
    border: 2px solid red;
    background-color: #01ACFD;
}


.hide-menu{
    display: none;
}


/* banner section  */

.banner{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0px 60px 60px 60px;
    padding: 0px;
   

}

.banner div button{
    background-color: black;
    padding: 10px 35px 10px 35px;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 0.9rem;
    cursor: pointer;
    margin: 0px;

}


.banner div button:hover{
    background-color: rgb(109, 168, 249);
    
}


.banner div h2{
    font-size: 3.5rem;
    margin: 0px;
}


.span1{
    color: #FEA301;
}


.span2{
    color:#01ACFD
}



.banner div p{
    font-size: 20px;
    margin: 20px 0px 25px 0px;
}









.section2{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 1000px;
    background-image: url(assets/bg.png), linear-gradient(white, white, rgb(235, 235, 177));
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }



  .fixed-size{
    margin: 0px auto;
    max-width: 1300px;
  }








  @media (max-width: 576px) {


        body{
            margin: 0px 0px;
        }
      
        /* nav section  */

        nav{
            margin: 0px 0px;
            padding: 10px 15px 10px 15px;
            border: 2px solid #FEA301;
        }
        .nd-1 h3{
            display: none;
        }

        .nd-1 img{
            width: 30px;
            height: 35px;
        }


        .nd-2{
            display: none;
        }

        .nav-btn button{
            display: none;
        }


        .nav-btn img{
            display: inline;
        }






     
        


    
  }



