
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-1 {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    margin: 0px auto;
    /* padding: 0px 60px; */
    max-width: 1300px;
  }
 


body{
    margin: 20px 0px 0px 0px;
    padding: 0px; 
   
}


  /* nav section  */


  nav{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 60px;
    padding: 0px;
  
  }


  div h3{
    font-size: 2rem;
    margin: 0px;
  }


  nav div img{
    width: 100%;
    height: 100%;
    margin-left: 0px;
    padding: 0px;
  }

.nd-1{
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.nd-2{
    display: flex;
    gap: 50px;

}

.nd-2 a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
}

.a1{
    color: #FEA301;
    border-bottom: 2px solid white;
}

.a1:hover{
    border-bottom: 2px solid red;
}



.a2{
    color: #01ACFD;
    border-bottom: 2px solid white;
}

.a2:hover{
    border-bottom: 2px solid red;
}


.a3{
    color: #05D4DF;
    border-bottom: 2px solid white;
}

.a3:hover{
    border-bottom: 2px solid red;
}


.a4{
    color: #5D58EF;
    border-bottom: 2px solid white;
}


.a4:hover{
    border-bottom: 2px solid red;
}



.nav-btn button{
    background-color: #FEA301;
    padding: 10px 45px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-weight: 550;
}


.nav-btn button:hover{
    border: 2px solid red;
    background-color: #01ACFD;
}


.hide-menu{
    display: none;
}


/* banner section  */

.banner{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0px 60px 0px 60px;
    padding: 0px;
}



.black{
    background-color: black;
    padding: 10px 35px 10px 35px;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 0.9rem;
    cursor: pointer;
    margin: 0px;
}



.black:hover{
    background-color: rgb(109, 168, 249);
    
}



.banner div h2{
    font-size: 3.5rem;
    margin: 0px;
}



.span1{
    color: #FEA301;
}



.span2{
    color:#01ACFD
}



.banner div p{
    font-size: 20px;
    margin: 20px 0px 25px 0px;
}



/* card section  */


.quicksand-2 {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


.stand{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 60px 0px 60px;
    padding: 40px 0px 20px 0px;

}

.stand h2{
    font-size: 46px;
    text-align: center;
}


.card{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 50px 0px 40px 0px;

}


.card img{
    width: 170px;
    height: 180px;
}


.card div h5{
    font-size: 24px;
    margin: 25px 0px;
}


.card div p{
    margin-bottom: 25px;
}


.card div a{
    text-decoration: none;
    cursor: pointer;
    
}

.card div a h6{
    font-size: 16px;
    display: inline;
    /* margin: 45px 0px 25px 0px; */
}


.card div p{
    font-size: 16px;
    color: #808080;
}



.card div{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 55px 20px 55px 20px;
    border-radius: 15px;
}


.div1{
    background: linear-gradient(#d5eefa, white, white)
}

.div1 h6{
    color: #01ACFD;
    border-bottom: 2px solid white;
}

.div1 h6:hover{
    border-bottom: 2px solid #01ACFD;
   
}

.div2{
    background: linear-gradient(#FFF4DC, white, white);
}



.div2 h6{
    color:#FEA301;
    border-bottom: 2px solid white;
}


.div2 h6:hover{
    border-bottom: 2px solid #F0AA00;
   
}


.div3{
    background:linear-gradient(#F2E8FF, white, white);
}

.div3 h6{
    color: #5D58EF;
    border-bottom: 2px solid white;
}

.div3 h6:hover{
    border-bottom: 2px solid #8700FF;
   
}


.sign{
    display: flex;
    gap: 10px;
    justify-content: center;
}


.sign h3{
    display: inline;
    background-color: #eca604;
    padding: 8px 20px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    border: 2px solid #F0AA00 ;
    margin-top: 10px;
}


.sign h3:hover{
    border: 2px solid rgb(66, 97, 248);
}



/* story section  */

.story .grid .new3{
    display: none;
}

.story {
    
    margin: 0px 60px 0px 60px;
}


.our{
    text-align: center;
    font-size: 46px;
}

.story .btn{
    text-align: center;
    margin-top: 40px;

}


.grid div img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.grid .img1{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 10px;
}

.grid{
    display: grid;
    gap: 13px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 4fr);

}

.new1{
    grid-column: 1/3;
    grid-row: 1/3;
}


.img1 .inline h5{
    display: inline;
    font-size: 16px;
    font-weight: 500;
    
}


.new1 .inline h5{
    background-color: #05D4DF;
    padding: 10px 20px ;
    border-radius: 20px;  
    color: white;
}


.new1 .date {
   margin-top: -12px;
   margin-left: 30px;
   padding: 0px 45px 40px 0px;
}

.date h4{
    font-size: 24px;
    margin: 45px 0px;
}


/* little story  */

.new2 .inline h5{
    background-color: #95B226;
    padding: 7px 12px ;
    border-radius: 20px;  
    color: white;
}

.inline-up .inline .vaio{
    background-color: #5D58EF;
}


.inline-up{
   margin-top: -11px;
   margin-left: 28px;
   padding: 0px 30px 20px 0px;
}

.inline-up h4{
    margin-top: 35px;
    
}

























.section2{
    margin: 0px;
    padding: 0px;
    width: 100%;
    /* height: 100%; */
    background-image: url(assets/bg.png), linear-gradient(white, white, rgb(235, 235, 177));
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }



  .fixed-size{
    margin: 0px auto;
    max-width: 1300px;
  }








  @media (max-width: 576px) {


        body{
            margin: 0px 0px;
        }
      
        /* nav section  */

        nav{
            margin: 0px 0px;
            padding: 10px 15px 10px 15px;
            border: 2px solid #FEA301;
        }
        .nd-1 h3{
            display: none;
        }

        .nd-1 img{
            width: 30px;
            height: 35px;
        }


        .nd-2{
            display: none;
        }

        .nav-btn button{
            display: none;
        }


        .nav-btn img{
            display: inline;
        }



        /* banner section  */

     
       
.banner{
    
    flex-direction: column-reverse;
    margin: 0px 15px 40px 15px;
}

.banner div img{
    width: 100%;
}

.banner .left{
    text-align: center;
    width: 100%;

}

.banner div h2{
    font-size: 2rem;
    margin: 0px;
}


.banner div p{
    font-size: 14px;
    margin: 15px 0px 20px 0px;
}

.banner div p br{
    display: none;
}
        


/* card section  */

.card img{
    width: 120px;
    height: 132px;
}

.stand{
  margin: 0px 15px 0px 15px;
  padding: 0px;

}

.stand h2{
    font-size: 26px;
    text-align: center;
}

.card{
    flex-direction: column;
}

.card div{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 35px 10px 35px 10px;
    border-radius: 15px;
}

.card div h5{
    font-size: 19px;
}

.stand .sign{
    display: none;
}


/* story section  */

.story .grid .new3{
    display: grid ;
}

.our{
    font-size: 26px;
}

.story {
    
    margin: 0px 15px 0px 15px;
}


.grid .new1{
    display: none;
}

.grid{
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 2fr);
    

}

.new2 .inline h5{
    font-size: 10px;
    background-color: #95B226;
    padding: 5px 8px ;
    border-radius: 15px;  
    color: white;
}

.inline-up .inline .vaio{
    background-color: #5D58EF;
}


.inline-up{
   margin-top: -11px;
   margin-left: 18px;
   padding: 0px 10px 15px 0px;
}

.inline-up h4{
    font-size: 10px;
    margin-top: 25px;
    
}


.story .btn{
    text-align: center;
    margin-top: 25px;

}






     
        


    
  }



